.task {
  height: 100%;
  width: 46rem;
  padding: 16px;
  gap: 12px;
  margin-bottom: 12px; 
  border-radius: 8px;

  background: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-400);

  display: grid;
  grid-template-columns: 1fr 100fr 1fr;
  align-items: center;
}

.task button {
  height: 24px;
  width: 24px;
  color: var(--gray-300);

  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.task button:hover {
  color: var(--danger);
}

